#header ul li{
	float: left;
	background-color: black;
	color: white;
	width:120px;
	height: 25px;
	padding: 15px;
	border: 1px solid #ddd
}
#header ul li a{
    /* list-style: none; */
    text-decoration: none;
	color: white;

}
#header ul li{
	 list-style-type: none;
}
#header ul li:hover{
	cursor: pointer;
	background-color: red;
	color: white;
}
#header ul li ul li{
    display: none;
}
#header ul li:hover ul li{
    display: block;
}
#header ul li:hover i{
    transform: rotate(0deg);
}
#header ul li i{
	transform: rotate(270deg);
}
#header #z{
	transform: rotate(90deg);
}